
@model BusMonitor.BLL.Tables.TimeTable;


<table class="table table-dark">
    <thead>
        <tr class="head-line">
            <th scope="col">STOP</th>
            <th scope="col">BUS</th>
            <th scope="col">TIME</th>
            <th scope="col" class="text-right">
                <span id="temp">@Model.Temp</span><span>º</span>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var line in Model.Lines)
        {
            <tr class="bus-line">
                <td class="stop">@line.Stop</td>
                <td class="bus">@line.Line</td>
                <td class="time" id="ID_@line.Stop@line.Line">
                    @line.Time
                </td>
                <td class="desc">
                    <marquee behavior="scroll" direction="left">@line.Desc</marquee>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {


    <script>

        var RetrieveTime = function () {

            jQuery.ajax({

                url    : "/api/arrival/cat/@Model.Category/token/@Model.EMTToken",
                type   : "GET",
                success: doSuccess,
                error  : doError
            });

        };

        var doSuccess = function (data) {

            //console.log( "OK" );
            //console.log( data );

            $.each(data.lines, function (idx, item) {

                var id = "#ID_" + item.stop + "" + item.line;
                $( id ).text( item.time );


            });

            $("#temp").text( data.temp );


        };

        var doError = function ( data ) {

            console.log('ERROR');
        };


        $(function () {

            setInterval ( RetrieveTime, 20 * 1000 ); // 10 segundos

        });


    </script>

}






