
@model BusMonitor.BLL.Tables.TimeTable;


<table class="time-table">
    <thead>
        <tr class="head-line">
            <th scope="col" class="cell-stop">stop</th>
            <th scope="col" class="cell-bus">bus</th>
            <th scope="col">time</th>
            <th scope="col" class="text-right">
                <span id="refresh-hour">@DateTime.Now.ToString("HH:mm")</span>
                <span id="refresh-temp">@Model.Temp C</span>
                <span id="refresh-status">--</span>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var line in Model.Lines)
        {
            <tr class="bus-line">
                <td class="cell-stop">
                    <span class="stop">@line.Stop</span>
                </td>
                <td class="cell-bus">
                    <span class="bus">@line.Line</span>
                </td>
                <td class="cell-time" id="TD_@line.Stop@line.Line">
                    <span class="time stop-line" id="ID_@line.Stop@line.Line">@line.Time</span>
                </td>
                <td class="desc">
                    <marquee behavior="scroll" direction="left">
                    @line.Desc
                    </marquee>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {


    <script>

        var RetrieveTime = function () {

            var computed_url = "/api/arrival/cat/@Model.Category/token/@Model.EMTToken/" + new Date().getTime();

            jQuery.ajax({

                url    : computed_url,
                type   : "GET",
                success: doSuccess,
                error  : doError
            });

        };

        var doSuccess = function (data) {

            //console.log(data);

            $("#refresh-status").css("color", "green");
            Refresh( "#refresh-status" , "ON"  );

            Refresh( "#refresh-temp" , "" + data.temp + "C"  );

            // refresh hour
            var hour = currentHour();
            Refresh( "#refresh-hour" , hour );
            
            $.each(data.lines, function (idx, item) {

                var id = "#ID_" + item.stop + "" + item.line;
                Refresh( id , item.time );

            });

        };

        var doError = function (data) {

            $("#refresh-status").css("color","red");
            Refresh("#refresh-status", "OFF");

            Refresh( "#refresh-temp" , "--C"  );

            var hour = currentHour();
            Refresh( "#refresh-hour" , hour );
            
            $(".stop-line").each(function () {
                Refresh( id , "--:--" );
            });

            console.log('ERROR');
        };

        var currentHour = function() {

            var now = new Date();
            var left = ("00" + now.getHours()).slice(-2);
            var right = ("00" + now.getMinutes()).slice(-2);
            var hour = "" + left + ":" + right;
            
        }

        var Refresh = function ( id , val ) {

            $(id).animate({

                opacity: '0.2',

            }, 50, "linear", function () {

                $(this).text( val );

                $(this).animate({

                    opacity: '1',

                }, 500, "linear");
            });
        }


        $(function () {

            setInterval ( RetrieveTime, 10 * 1000 ); // 10 segundos

        });


    </script>

}






